@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'Pomeranian-Regular.ttf';
  src: url('../fonts/Pomeranian-Regular.ttf') format('opentype');
}

.flash_message{
  background-color: #b1f9d0;
  text-align: center;
  font-size: 18px;
}
// header
.navbar-brand{
  color: #cc6666;
}
.navbar-brand:hover{
  color: #ffb6c1;
}
.logo{
  font-family: 'Pomeranian-Regular.ttf';
}
ul{
  display: flex;
  flex: row-reverse;
}
.nav-item {
  list-style: none;
  border: 2px solid #ffad90;
  border-radius: 5px;
  margin-right: 5px;
}

footer{
  background-color: #ffdbc9;
}

// sign_up
.field_with_errors {
  display: inline;
}
.title h2{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 100px;
  display: inline-block;
  padding: 3px 12px;
  background-color: #ffdbc9;
  border-radius: 5px;
}
.sign_up > label{
  width: 200px;
  margin-right: 30px;
}
.sign_up_name{
  width: 100px;
}
.sign_up_email{
  width: 250px;
}
.sign_up_btn{
  width: 150px;
  margin-left: 150px;
}

// login
.login > label{
  width: 200px;
}
.login_field{
  width: 250px;
}
.login_btn{
  width: 150px;
  margin-left: 150px;
}

// recipe
.new-img{
  width: 400px;
  object-fit: cover;
}
.cooking-title{
  color: #cc6666;
  text-decoration: underline;
  text-decoration-color: #ffcccc;
}
.recipe_action{
  margin-left: 150px;
}
.add_btn{
  background-color: #ffcccc;
}
.procedure_input{
  width: 380px;
}
